:root {
  --bg-primary: #ffffff;
  --bg-secondary: #f8fafc;
  --bg-hover-primary: #abb1b4;
  --bg-hover-secondary: #e2e8f0;
  --text-primary: #0f172a;
  --text-secondary: #64748b;
  --border-color: #e2e8f0;
  --primary-button: #6977fa;
  --primary-button-border: #4d5bd4;
  --primary-button-hover: #5b68e2;
  --success: #bde9c7;
  --success-border: #9ee9b0;
  --success-2: #6db37d;
  --success-2-hover: #85cc95;
  --reject: #fef2f2;
  --reject-border: #fecaca;
  --reject-text: #ef4444;
  --reject-hover: #f7d5d5;
}

[data-bs-theme="dark"] {
  --bg-primary: #181c24;
  --bg-secondary: #212731;
  --bg-hover-primary: #272d36;
  --bg-hover-secondary: #353c46;
  --text-primary: #dadada;
  --text-secondary: #738296;
  --border-color: #434d5a;
  --primary-button: #3a44a3;
  --primary-button-border: #2f358b;
  --primary-button-hover: #4e5de2;
  --success: #388a4b;
  --success-border: #2b6e3b;
  --success-2: #388a4b;
  --success-2-hover: #52a365;
  --reject: #ec4b4b;
  --reject-border: #964444;
  --reject-text: white;
  --reject-hover: #e76c6c;
}

body {
  background-color: var(--bg-primary);
  color: var(--text-primary);
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}

.secondary-button {
  transition: all 0.2s ease-in-out;
}

.secondary-button:hover {
  background-color: var(--bg-hover-secondary) !important;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.primary-button {
  transition: all 0.2s ease-in-out;
}

.primary-button:hover {
  background-color: var(--bg-hover-primary) !important;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.primary-button-2 {
  transition: all 0.2s ease-in-out;
}

.primary-button-2:hover {
  background-color: var(--primary-button-hover) !important;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.success-button {
  transition: all 0.2s ease-in-out;
}

.success-button:hover {
  background-color: var(--success-2-hover) !important;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.reject-button {
  transition: all 0.2s ease-in-out;
}

.reject-button:hover {
  background-color: var(--reject-hover) !important;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.dashboard-card {
  transition:
    transform 0.2s ease-in-out,
    box-shadow 0.2s ease-in-out;
}

.dashboard-card:hover {
  transform: translateY(-4px);
  box-shadow:
    0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  background-color: var(--bg-hover) !important;
}

.mobile-toggle {
  display: none;
}
.desktop-title {
  display: block;
}
.user-details-text {
  display: flex;
}
.mobile-overlay {
  display: none;
}
.mobile-only {
  display: none;
}

.comp-only {
  display: block;
}

.timesheet-header {
  display: flex;
  justify-content: "space-between";
  alignitems: "center";
  marginbottom: "2rem";
}

.main-content {
  padding: 2rem;
  maxwidth: 1200px;
  margin: 0 auto;
}

.save-button {
  padding: 10px 20px;
  background-color: var(--primary-button);
  border: 1px solid var(--primary-button-border);
  color: white;
  border-radius: 6px;
  cursor: pointer;
  fontweight: bold;
}

@media (max-width: 768px) {
  .mobile-only {
    display: block;
  }

  .comp-only {
    display: none;
  }

  .mobile-toggle {
    display: block;
    background: none;
    border: none;
    color: var(--text-primary);
    font-size: 1.5rem;
    cursor: pointer;
    padding: 0;
    margin-right: 1rem;
  }
  .desktop-title {
    display: none;
  }
  .user-details-text {
    display: none !important;
  }

  .sidebar-container {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 50;
    transform: translateX(-100%);
    transition: transform 0.3s ease;
    background-color: var(--bg-primary);
    width: 250px;
    box-shadow: 2px 0 8px rgba(0, 0, 0, 0.2);
  }
  .sidebar-container.open {
    transform: translateX(0);
  }

  .mobile-overlay.open {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 40;
  }

  .timesheet-header {
    display: flex;
    justify-content: "space-between";
    alignitems: "center";
    gap: 1rem;
    marginbottom: "2rem";
    flex-direction: column;
  }

  .main-content {
    padding: 5px;
    maxwidth: 1200px;
    margin: 0 auto;
  }

  .save-button {
    padding: 10px 20px;
    background-color: var(--primary-button);
    border: 1px solid var(--primary-button-border);
    color: white;
    border-radius: 6px;
    cursor: pointer;
    fontweight: bold;
    margin-top: 1rem;
    margin-left: auto;
    margin-right: 0;
    display: block;
  }

  table,
  thead,
  tbody,
  tfoot,
  th,
  td,
  tr {
    display: block;
    width: 100%;
  }

  thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  tr {
    border: 1px solid var(--border-color);
    margin-bottom: 1rem;
  }

  td {
    display: block;
    border: none;
    border-bottom: 1px solid var(--border-color);
    position: relative;
    padding-left: 50%;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }

  td:before {
    position: absolute;
    top: 0.5rem;
    left: 0.5rem;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
    font-weight: bold;
  }
}
